<!doctype html>
<html>
  <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover">
	<meta name="apple-mobile-web-app-capable" content="yes" />

	<title>REST Roulette</title>

	<link rel="icon" type="image/png" href="/static/assets/img/favicon.png">

	<link href="{{ url_for('static', filename='css/min.css') }}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/min.js') }}"></script>
    <script type="text/javascript" src="/static/js/play.js"></script>


    <!-- Fonts and Material Icons -->
	<link rel="stylesheet" as="font" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700|Material+Icons"/>
  </head>
  <body class="slides noPreload animated">

    <section class="slide fade-6 kenBurns">
      <div class="content">
        <div class="container">
          <div class="wrap">

            <div class="fix-7-12">
              <div class="fix-3-12">
                <img class="wide ae-1 fromCenter" src="{{ url_for('static', filename='assets/img/logo.png') }}">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use>
              </div>

              <p class="ae-2 hero cropBottom margin-top-3">
                <span class="ae-3 opacity-8">
                  <b>Play your luck in roulette.</b>
                  <br>Free, open-source JSON REST API
                  <br><br>
                  <pre class="ae-3 hero"><b>GET</b> /api/play<br><br><b>Params:</b><br><u>bet</u>:</b> odd, even, low, high, red,<br> black, green, or [0 through 36]<br><b><u>wager</u>:</b> any number
                  <br><br>See <b><u><a href="https://github.com/mar-cel/rest-roulette">GitHub</a></u></b> for more documentation.
                    <br><br><b>Response:</b>
                  <div style="text-align: center;">
                    <div style="position: relative; text-align: left; margin-left:40%;"><text id="req_display_text"><script>document.write(JSON.stringify(JSON.parse('{{ req_display|safe }}'), null, 2));</script></text></div>
                  </div>
                  </pre>
                </span>
                </p>

              <form id="play_form" class="slides-form" action="." method="POST" name="form" autocomplete="off" _lpchecked="1">
                <input type="text" class="input-9 ae-8 fromCenter done" id="bet_input" name="bet" placeholder="bet" value="even">
                <input type="text" class="input-9 ae-8 fromCenter done" id="wager_input" name="wager" placeholder="wager" value="200">
                <a href="#" id="play_button"><button type="button" name="play_button" class="button gradient red ae-7 fromCenter done">play</button></a>
              </form>

            </div>


          </div>
        </div>
      </div>
      <div class="background" style="background-image:url({{ url_for('static', filename='assets/img/background/bg.jpg') }})"></div>
    </section>

    <nav class="panel bottom   forceMobileView">
      <div class="sections desktop">
        <div class="center">
          <ul class="menu uppercase">
            <li><a href="https://github.com/mar-cel/rest-roulette">Github</a></li>
          </ul>
        </div>
      </div>
    </nav>

  </body>
</html>
